html {
	font-family: sans-serif;
	box-sizing: border-box;
	background-color: #D24940;
}

body {
	font-family: 'Karla', sans-serif;
	text-align: center;
}

textarea:focus, input:focus, button:focus {
    outline: 0;
}

button {
	padding: 1rem;
	background-color: #DE3B30;
	border: none;
	border-radius: 5px;
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	margin: 0rem auto 1rem auto;
}

button:hover {
	opacity: 0.9;
}

.gender {
	background-color: gray;
	font-size: 1rem;
	margin-top: 0;
}

.gender-title {
	font-size: 1.5rem;
	font-weight: bold;
	color: #D24940;
	padding-left: 1rem;
}

header {
	width: 80%;
	margin: 1rem 10% 1rem 10%;
	border-radius: 5px;
	padding: 1rem;
	background-color: #fff;
}

.smiley-box {
	display: inline-block;
}

.smiley {
	width: 150px;
	padding-left: 1rem;
	padding-top: 1rem;
}

.logo-box {
	top: 0;
	display: inline-block;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0;
}

.logo {
	width: 500px;
}

h1 {
	font-size: 2.5rem;
	margin-top: 0;
}

.mad-libs-form {
	clear: both;
	width: 80%;
	margin: 0 10% 0 10%;
	background-color: #fff;
	border-radius: 5px;
	padding: 1rem;
	-webkit-transition: 0.5s all ease-in-out;
	transition: 0.5s all ease-in-out;
}

h2 {
	font-size: 2rem;
	margin-bottom: -0.75rem;
	margin-top: 0;
}

.column {
	display: inline-block;
	width: 20%;
	padding: 2rem;
	margin-left: 0;
}

input {
	padding: 0.5rem;
	border-radius: 3px;
	margin-top: 1rem;
	font-size: 1rem;
	text-align: center;
}

input:focus {
  	border: solid 3px #D24940;
}

.mad-libs-text {
	width: 80%;
	margin: 1rem 10% 1rem 10%;
	background-color: #fff;
	border-radius: 5px;
	padding: 1rem;
	-webkit-transition: 0.5s all ease-in-out;
	transition: 0.5s all ease-in-out;
}

.mad-libs-text p {
	padding: 1rem 1rem 0 1rem;
	font-size: 1.25rem;
	text-align: left;
}

.error {
	color: #DE3B30;
	font-size: 1.5rem;
	font-weight: bold;
}

/*================================
           ANIMATIONS
================================*/

section.ng-hide-add,
section.ng-hide-remove {
  display: block !important;
  width: 100% !important;
  position: relative;
  opacity: 1;
}

section.ng-hide-remove,
section.ng-hide-add.ng-hide-add-active {
  left: 150%;
  opacity: 0;
}

section.ng-hide-remove.ng-hide-remove-active,
section.ng-hide-add {
  left: 0%;
  opacity: 1;
}

section.ng-show-add,
section.ng-show-remove {
  display: block !important;
  width: 100% !important;
  position: relative;
  opacity: 1;
}

section.ng-show-remove,
section.ng-show-add.ng-show-add-active {
  right: 150%;
  opacity: 0;
}

section.ng-show-remove.ng-show-remove-active,
section.ng-show-add {
  right: 0%;
  opacity: 1;
}



